.container__listMap {
  width: 23.3rem;
  display: block;
  background-color: #2b3743;
  margin-bottom: 3rem;
}
.listMap__img img {
  width: 100%;
  min-height: 14.1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.listMap__text {
  width: 100%;
  min-height: 14.6rem;
  padding: 2rem;
}
.listMap__text h2 {
  margin-bottom: 1rem;
}
.listMap__text > div {
  display: flex;
  margin-bottom: 1rem;
}
.text__subMain {
  margin-left: 0.8rem;
}
